/* #region standart setting */
html {
  box-sizing: border-box;
}
body {
  color: #151618;
  padding: 0;
  margin: 0;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
button {
  padding: 0;
  border: none;
  background-color: #fff;
}
.container {
  max-width: 1240px;
  margin: 0 auto;
}

/* #endregion */
/* #region header */
.header {
}

.header__top {
  display: flex;
  min-height: 140px;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;
  padding-left: 20px;
  padding-right: 20px;
}
.logo {
  margin-bottom: 30px;
}
.menu__btn {
  display: none;
  width: 40px;
  height: 20px;
  flex-direction: column;
  justify-content: space-between;
}
.menu__btn span {
  background: #000;
  height: 2px;
  width: 100%;
}
.menu {
  font-family: "Open Sans";
  font-size: 18px;
}
.menu__list {
  display: flex;
  gap: 65px;
  margin-left: 85px;
}
.menu__item {
}
.menu__link {
}
.menu__link:hover {
  font-size: 20px;
}
.user-actions {
  display: flex;
  gap: 20px;
}
.user-search {
  margin-left: 80px;
}
.user-actions__item {
}
/* #endregion */

.main {
}
/* #region img */
.top {
  background-image: url(../images/header-background.png);

  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
}
.top__content {
  min-height: 500px;
  color: #fff;
  font-family: Cormorant;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.top__title {
  font-size: 60px;
  font-weight: 400;
  line-height: 1;
  max-width: 780px;
}
.text {
  margin-top: -20px;
  font-size: 24px;
  font-weight: 400;
  max-width: 560px;
}
.blockquote {
  margin: 150px auto;
  text-align: center;
  max-width: 704px;
  font-family: Cormorant;
  font-size: 40px;
  font-style: italic;
  font-weight: 300;
  line-height: normal;
}
.blockquote__text {
}
/* #endregion */
.menu-close__btn,
.mobile-nav {
  display: none;
}
/* #region adaptive */
@media (max-width: 1000px) {
  .user-search {
    margin-left: 30px;
  }
  .menu {
    margin-right: auto;
  }
  .menu__list {
    margin-left: 0;
  }
  .logo {
    margin-bottom: 0;
  }
  .header__top {
    min-height: auto;
  }
  .blockquote {
    margin-top: 120px;
    margin-bottom: 135px;
  }
  .collection__content {
    gap: 0;
  }
}
@media (max-width: 844px) {
  .menu__list {
    transform: translateY(-100%);
    position: absolute;
    background-color: #fff;
    top: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    display: block;
    text-align: center;
    width: 100%;
    padding: 60px 0;
    transition: transform 0.7s ease;
  }
  .menu__list.menu__list--open {
    transform: translateY(0%);
  }
  .menu-close__btn {
    position: absolute;
    top: 20px;
    right: 20px;
    display: block;
  }
  .menu__item {
    margin-bottom: 30px;
    font-family: Cormorant;
    font-size: 24px;
  }
  .mobile-menu,
  .mobile-actions {
    padding: 0;
  }
  .menu-close__btn,
  .mobile-nav {
    display: block;
  }

  .mobile-menu {
    margin-top: 60px;
    padding-top: 60px;
    margin: 60px 30px;
    border-top: 2px solid #f7f2ea;
  }
  .mobile-menu__link {
    color: #000;

    /* Main Small Text 13px Light */
    font-family: "Open Sans";
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }

  .mobile-actions {
    background-color: #f7f2ea;
    height: 60px;
    padding: 0 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .mobile-menu__item {
    margin-bottom: 35px;
  }

  .menu__btn {
    display: flex;
  }
  .menu {
    order: -1;
    margin-right: 0;
  }
  .logo {
    margin-left: auto;
    margin-right: 100px;
  }
}
@media (max-width: 768px) {
  .header__top {
    padding: 0 64px;
  }
  .blockquote {
    max-width: 640px;
  }
  .collection__content {
    flex-wrap: wrap;
    justify-content: center;
  }
  .clients__content {
    padding-bottom: 86px;
  }
}
@media (max-width: 640px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .header__top {
    padding-left: 0;
    padding-right: 0;
  }
  .top__title {
    font-size: 40px;
  }
  .text {
    font-size: 24px;
  }
  .blockquote {
    max-width: 376px;
    font-size: 16px;
    margin: 60px auto;
  }
}
@media (max-width: 480px) {
  .logo {
    margin-right: 60px;
  }
  .logo img {
    width: 40px;
  }
  .user-search {
    margin-left: 0;
  }
  .top__title {
    font-size: 24px;
    margin-bottom: 40px;
  }
  .text {
    font-size: 13px;
  }
  .collection__img {
    max-width: 150px;
    max-height: 150px;
  }

  .clients__content,
  .clients__text {
    gap: 0;
    padding: 0;
    margin: 0;
  }
}
@media (max-width: 360px) {
  .logo {
    margin-right: 15px;
  }
  .header__top {
    padding: 0;
    margin: 10px;
  }
  .top__title {
    margin-bottom: 30px;
  }
  .blockquote {
    max-width: 340px;
    font-size: 16px;
    margin: 60px auto;
  }
  .collection__title {
    font-size: 24px;
    width: 100%;
  }
}
/* #endregion */
/* #region collections + clients */
.collection {
  margin-bottom: 150px;
}
.collection__title {
  font-family: Cormorant;
  font-size: 40px;
  font-weight: 400;
  text-align: center;
}
.collection__content {
  display: flex;
  gap: 0 40px;
  text-align: center;
}
.collection__img {
  max-width: 208px;
  max-height: 208px;
  width: 100%;
}
.collection__text {
  font-family: Cormorant;
  font-size: 24px;
  font-weight: 400;
}

.clients {
  background-color: #f7f2ea;
  min-width: 100%;
  margin-bottom: 150px;
}
.clients__title {
  font-family: Cormorant;
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  padding: 60px 0;
}
.clients__content {
  display: flex;
  gap: 26px;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 60px;
}
.clients__text {
  max-width: 280px;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: italic;
  font-weight: 300;
}
.clients__name {
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 600;
}
/* #endregion */
.tea-blog {
}

.tea-blog__title {
  text-align: center;
  font-family: Cormorant;
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 60px;
}
.tea-blog__content {
  display: flex;
  flex-wrap: wrap;
  gap: 60px 20px;
  justify-content: space-around;
}
.card {
  max-width: 460px;
  max-height: 153px;
  display: flex;
  gap: 20px;
}
.card__title {
  font-family: Cormorant;
  font-size: 24px;
  font-weight: 400;
  margin: 0;
  width: 210px;
}
.card__subtitle {
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 300;
}

.card__more-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.card__bottom {
  gap: 0 8px;
  display: flex;
}
.tea-blog__button {
  display: flex;
  margin: 0 auto;
  padding: 12px 41px;
  gap: 10px;
  border: 1px solid #151618;
  margin-top: 60px;
  margin-bottom: 120px;
  cursor: pointer;
  transition: background-color 500ms, color 500ms;
}

.tea-blog__button:hover {
  background-color: #151618;
  color: #fff;
}

.tea-blog__button:not(:hover) {
  background-color: transparent;
  color: #000;
}
